/* Global Styling */
body {
  font-family: 'Cairo', sans-serif;
  background-color: #f5efe4; /* Light beige */
  margin: 0;
  padding: 0;
  color: #3d3d3d; /* Neutral dark text */
}

/* Main Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  background-color: rgb(256, 256, 256, 0.3);

}

/* Header Styling */
header {
  text-align: center;
}

header h1 {
  font-size: 36px;
  color: #3d3d3d;
  margin: 0;
}

header p {
  color: #6d6d6d;
  margin-top: 5px;
  font-size: 18px;
}

/* Section Styling */
.section {
  margin: 20px 0;
}

.section h2 {
  font-size: 28px;
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 20px;
}

/* Button Styling */
.section .btns {
  padding: 10px 15px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #e0e0e0;
  font-weight: bold;
  display: inline-block;
}

.section .btns a {
  text-decoration: none;
  color: #3d3d3d;
}

.section .btns:hover {
  background-color: #d4c8b4; /* Slight hover effect */
}

/* Cards Container */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

/* Book Card */
.card {
  background-color: rgb(256, 256, 256, 0.6);
  border: 1px solid #d4c8b4;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: contain;
  height: 200px;
}

.card h3 {
  font-size: 20px;
  color: #2a2929;
  margin-bottom: 10px;
  cursor: pointer;
}

.card p {
  color: #080808;
  font-size: 16px;
}

/* Cart Icon */
.cart {
  position: relative;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 40px;
  height: 40px;
  margin: 8px auto;
}
.cart-popup{
  background-color: #fff7f7;
  border: 1px solid #d4c8b4;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 200px;
  text-align: center;
}

.close-cart {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  font-size: 14px;
  color: #6d6d6d;
}
.btn{
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover{
  background-color: #38803c;
}
.delete-btn{
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.delete-btn:hover{
  background-color: #d32f2f;
}